.rounded-pill {
  background-color: #3E497A;
  color: #F0F0F0;
}

.rounded-pill:hover {
  background-color: #dd5800;
  color: #F0F0F0;
}

.btn-contentpage {
  background-color: #3E497A;
  border-radius: 50%;
  color: #F0F0F0;
}

.btn-contentpage:hover {
  background-color: #dd5800;
  color: #F0F0F0;
}

video {
  width: 100%;
  max-height: 100%;
}
