#left-col {
    display: inline-block;
    text-align: right;
}

#mid-col {
    height: 800px;
    position: relative;
}

#right-col {
    border-radius: 25px;
    border-style: solid;
    border-color: gray;
    border-width: 10px;
    height:fit-content;
    box-shadow: 10px 10px 5px
}

#btn-group {
    position: absolute;
    left: 0;
    bottom: 0;
}

