#left-col {
    display: flex;
    width: auto;
    height: 700px;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
}

#mid-col {
    width: 100px;
    height: 530px;
    position: relative;
}

#right-col {
    border-radius: 25px;
    border-style: solid;
    border-color: #21325E;
    /* border-width: 2px; */
    height:fit-content;
    /* box-shadow: 10px 10px 5px */
}

.btn-contentd {
    background-color: #3E497A;
    border-radius: 70%;
    color: #F0F0F0;
}

.btn-contentd:hover {
    background-color: #dd5800;
    color: #F0F0F0;
}

.btn-send-cd {
    background-color: #3E497A;
    color: #F0F0F0;
}

.btn-send-cd:hover {
    background-color: #dd5800;
    color: #F0F0F0;
}

#vid-container {
    width: auto;
    height: auto;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.vid-content {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* #vid-container video {
    width: 100%;
    max-height: 100%;
} */

#card-container2 {
    background-color: #3E497A;
    color: #F0F0F0;
}

#loader div {
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 2px solid rgb(18,39,92);
	position: absolute;
	top: 4px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
#loader div:nth-child(odd) {
	border-top: none;
	border-left: none;
}
#loader div:nth-child(even) {
	border-bottom: none;
	border-right: none;
}
#loader div:nth-child(2) {
	border-width: 4px;
	left: 0px;
	top: -9px;
	width: 26px;
	height: 26px;
}
#loader div:nth-child(3) {
	border-width: 4px;
	left: -2px;
	top: 6px;
	width: 38px;
	height: 38px;
}
#loader div:nth-child(4) {
	border-width: 6px;
	left: -2px;
	top: -9px;
	width: 51px;
	height: 51px;
}
#loader div:nth-child(5) {
	border-width: 6px;
	left: -2px;
	top: 9px;
	width: 68px;
	height: 68px;
}
#loader div:nth-child(6) {
	border-width: 9px;
	left: 0px;
	top: -9px;
	width: 85px;
	height: 85px;
}
#loader div:nth-child(7) {
	border-width: 9px;
	left: 0px;
	top: 13px;
	width: 106px;
	height: 106px;
}


@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}



