<form action="action_page.php">
    <div class="container">
      <h1>Upload your video here!</h1>
      <p>Please fill in your details</p>
      <hr>
  
      <label for="title"><b>Title</b></label>
      <input type="text" placeholder="Enter title" name="title" id="title" required>
  
      <label for="desc"><b>Description</b></label>
      <input type="text" placeholder="Enter description" name="desc" id="desc" required>
  
      <label for="input-type"><b>Type</b></label>
      <input type="file" placeholder="file" name="file" id="file" required>

      <label for="category"><b>Category</b></label>
      <input type="option" placeholder="Enter description" name="desc" id="desc" required>
      
      <p>dropdown list</p>

<form action="/action_page.php">
  <label for="Category">Choose a car:</label>
  <select name="category" id="category">
    <optgroup label="Projects">
      <option value="Technology">Technology</option>
      <option value="Small Business">Small Business</option>
      <option value="Creative Arts">Creative Arts</option>
      <option value="Fashion">Fashion</option>
    </optgroup>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
 
</body>
</html>

    
      <hr>


  
      <p>Thank you for your submission!<a href="#">More videos here</a>.</p>
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>